{% extends'bootstrap/base.html'%}
{% block content%}
<div class="container text-center">
    <div class="jumbotron">

    <h1>Add a Product</h1>

</div>
</div>
<div class="container text-center">
<form method="POST">

    <input type="text" name= "title" placeholder="Title">
    <input type="text" name="description" placeholder="Description">
    <input type="number" name="price" placeholder="$ price">
    <input type="text" name="unit" placeholder="unit">
    <input type="number" name="quantitiy" placeholder="quanitity limit">
    <input type="text"  name="imagelink" placeholder="image link">
    <br>
    <br>
    <input type="submit" value="add product" class="btn btn-info">
</form>
</div>
{% endblock %}
