{% extends'bootstrap/base.html'%}
{% block content%}
<div class="container text-center">
    <div class="jumbotron">

    <h1>Buy a Product</h1>

</div>
</div>
{% for buy in products %}
{{buy}}
{% endfor %}
<div class="container text-center">

    <input type="text" placeholder="Title">

    <br>
    <input type="submit" value="buy product" class="btn btn-info">

</div>
{% endblock %}
