{% extends'bootstrap/base.html'%}
{% block content%}
<div class="container text-center">
    <div class="jumbotron">

    <h1> Welcome to One Stop Shop</h1>

</div>
</div>
<div class="container text-center">

    <a href="/addproduct"><input type="submit" value="Add a Product" class="Buy a product"></a>
    <a href="/buyproduct"><input type="submit" value="Buy a product" ></a>

</div>
{% endblock %}

